* {
			box-sizing: border-box;
		}
		.container, .form {
			width: 100%;
		}
		.container form, .form {
			/*text-align: center;*/
			width: 300px;
			margin: 100px auto;
			border: 1px solid #ffeeff;
			background: linear-gradient(to left, rgb(25,10,34),rgb(101,234,255));
			padding: 15px;
		}
		.form {
			width: 500px !important;
			text-align: left !important;

		}
		.title {
			margin: 5px auto;
			text-align: center;
			color: #ffffff;
		}
		.form .form-group {
			margin-top: 10px;
		}
		.container .form-group p, .form label,.form .form-group{
			font-size: 18px;
			font-weight: 400;
		}
		.form label {
			color: #ffffff;
		}
		.form span {
			font-style: bold;
			font-weight: 700;
			color: #000;
		}
		.container .input-group, .form .input-group {
			width: 40%;
			margin-right: 20px;
			display: inline-block;
		}
		.container select, input[type='date'], .form select {
			width: 200px;
			font-size: 18px;
		}
		input[type='email'] {
			width: 70%;
		}
		.btn {
			display: block;
			width: 90%;
			padding: 5px;
			margin-top: 20px;
		}
		.btn-primary {
			background: linear-gradient(to top,rgb(101,234,255),rgb(0,45,121));
			color: #ffffff;
			border-radius: 50px;
			font-size: 18px;
			font-weight: 700;
		}
		.form-group a {
			text-decoration: none;
			font-size: small;
			text-align: center;
		}